blockquote{
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 1.5em;
}

def{
  margin-left: 10px;
}
def:before{
  content: "Definition.";
  font-weight: bold;
}

hl{
  background: aquamarine;
}

thm{
  margin-left: 10px;
  font-style: italic;
}
thm:before{
  content: "Theorem.";
  font-weight: bold;
}

pf{
  margin-left: 10px;
}
pf:before{
  content: "Proof.";
  font-weight: bold;
}

prp{
  margin-left: 10px;
  font-style: italic;
}
prp:before{
  content: "Prop.";
  font-weight: bold;
}

cor{
  margin-left: 10px;
  font-style: italic;
}
cor:before{
  content: "Cor.";
  font-weight: bold;
}